.mybody{
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right,black,grey,tan,tan,grey,black);
}
.mywrapper{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    border-left: 5px;
    border-right: 5px;
    border-style: solid;
    background-color: white;
    
}
.myborder{
    
    border: 5px solid black;
}
.mypadtop{
    
    padding-top: 25px;
}
.imagesizer{
    height: auto;
    width: 100%;
    max-width: 120px;
}
.mytablebuttons{
    display: flex;
    flex-direction: column;
    border: 5px dotted black;
}